<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.javeriana.bittus.fitt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/imageniconoapp_sinfondo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Vista.InformacionEjercicioActivity"></activity>
        <activity android:name=".Vista.BuscarEjercicioActivity" />
        <activity android:name=".Vista.CrearSesionActivity" />
        <activity android:name=".Vista.CrearRutinaSesionesActivity" />
        <activity android:name=".Vista.CrearRutinaActivity" />
        <activity android:name=".Vista.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.MenuPrincipalUsuarioActivity" />
        <activity
            android:name=".Vista.PopCrearEjercicioSesionDistancia"
            android:theme="@style/AppTheme.CustomThemePopUp" />
        <activity
            android:name=".Vista.PopCrearEjercicioSesionDuracion"
            android:theme="@style/AppTheme.CustomThemePopUp" />
        <activity
            android:name=".Vista.PopCrearEjercicioSesionRepeticion"
            android:theme="@style/AppTheme.CustomThemePopUp" />
        <activity
            android:name=".Vista.PopCrearEjercicioSesionDescanso"
            android:theme="@style/AppTheme.CustomThemePopUp" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>